/* Scss Document */
#bg{
	background-image: image-url("showcase.jpg");
	height: 100vh;
	background-size: cover;
	background-position: center;
	//text-align: center;
	header{
		padding: 3rem 0;
		#logo{
			float: left;
			text-transform: uppercase;
			font-weight: 700;
			color: $white;
			text-decoration: none;
			font-size: 1.05em;
			letter-spacing: 2px;
		}
		nav{
			float: right;
			ul{
				list-style: none;
				margin: 0;
				li{
					display: inline;
					margin-left: 2.5rem;
					a{
						color: $white;
						text-decoration: none;
						border-bottom: 2px solid transparent;
						font-size: 1.05em;
						letter-spacing: 2px;
						text-transform: uppercase;
						-webkit-transition: 700ms all ease;
						-moz-transition: 700ms all ease;
						-ms-transition: 700ms all ease;
						-o-transition: 700ms all ease;
						transition: 700ms all ease;
					}
				}
				li a:hover{
						color: $highlight;
						border-bottom: 2px solid $highlight;
					}
				}
			}
		}
	h1{
		color: $white;
		font-size: 3.5rem;
		text-shadow: -2px 3px $highlight;
		font-weight: 700;
		letter-spacing: 1px;
		margin: 16rem 0 0 0;
		
		.dot {
		height: 15px;
		width: 15px;
		background-color: $white;
		box-shadow: -2px 2px $highlight;
		border-radius: 50%;
		display: inline-block;
		}
	}
	
	.button {
		margin: 1.5rem -3% 0 7.5%;
		text-shadow: -1px 2px #125567;
		text-transform: uppercase;
	}
}

body{
	font-family: 'Raleway', sans-serif;
}
